In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Carseats.csv')
df

# New section

In [ ]:
# independant variable
x = df.iloc[:, 1:]

# dependent variable
y = df.iloc[:, 0]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
x['US'] = le.fit_transform(x['US'])
x['Urban'] = le.fit_transform(x['Urban'])
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,1,1
1,111,48,16,260,83,Good,65,10,1,1
2,113,35,10,269,80,Medium,59,12,1,1
3,117,100,4,466,97,Medium,55,14,1,1
4,141,64,3,340,128,Bad,38,13,1,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
en_x = pd.DataFrame(ohe.fit_transform(x[['ShelveLoc']]).toarray())
en_x

       0    1    2
0    1.0  0.0  0.0
1    0.0  1.0  0.0
2    0.0  0.0  1.0
3    0.0  0.0  1.0
4    1.0  0.0  0.0
..   ...  ...  ...
395  0.0  1.0  0.0
396  0.0  0.0  1.0
397  0.0  0.0  1.0
398  1.0  0.0  0.0
399  0.0  1.0  0.0

[400 rows x 3 columns]

In [ ]:
x = x.join(en_x)
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,0,1,2
0,138,73,11,276,120,Bad,42,17,1,1,1.0,0.0,0.0
1,111,48,16,260,83,Good,65,10,1,1,0.0,1.0,0.0
2,113,35,10,269,80,Medium,59,12,1,1,0.0,0.0,1.0
3,117,100,4,466,97,Medium,55,14,1,1,0.0,0.0,1.0
4,141,64,3,340,128,Bad,38,13,1,0,1.0,0.0,0.0

In [ ]:
d = x.drop('ShelveLoc',axis=1,inplace=True)
x.head()

,CompPrice,Income,Advertising,Population,Price,Age,Education,Urban,US,0,1,2
0,138,73,11,276,120,42,17,1,1,1.0,0.0,0.0
1,111,48,16,260,83,65,10,1,1,0.0,1.0,0.0
2,113,35,10,269,80,59,12,1,1,0.0,0.0,1.0
3,117,100,4,466,97,55,14,1,1,0.0,0.0,1.0
4,141,64,3,340,128,38,13,1,0,1.0,0.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
ss = StandardScaler()

In [ ]:
x_train= ss.fit_transform(x_train)
x_test = ss.fit_transform(x_test)

In [ ]:
x_train

In [ ]:
y_test

132     9.54
309    11.18
341     7.38
196     4.10
246     6.90
       ...
14     11.17
363    10.26
304    11.93
361     8.68
329    11.27
Name: Sales, Length: 80, dtype: float64

In [ ]:
from sklearn.tree import DecisionTreeRegressor 
DTReg= DecisionTreeRegressor(random_state=0)  
DTReg.fit(x_train, y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred= DTReg.predict(x_test) 
y_pred

array([ 6.39,  7.62,  4.16,  4.19,  6.03,  4.1 ,  9.35,  4.81,  5.31,
        5.27,  6.56,  5.58,  4.53, 13.55,  3.45,  4.81,  9.46,  8.25,
        4.2 ,  3.45,  6.62,  8.78,  7.8 ,  7.64,  5.52,  9.35,  7.49,
        4.2 ,  4.55,  6.71,  9.32,  8.78,  7.78,  9.32,  4.12,  9.64,
        8.07,  5.53,  6.11, 11.54,  5.47,  6.39,  5.27, 10.  ,  4.42,
        4.2 ,  8.8 ,  6.97, 10.49,  9.39,  4.53,  7.64, 13.28,  9.64,
        3.9 ,  7.52,  1.82,  5.94,  7.52,  1.82,  7.37, 14.37,  5.31,
        7.49,  7.74,  4.69,  9.  ,  7.62,  7.95,  8.75, 10.62,  9.32,
       10.5 ,  2.67,  8.47,  8.21, 11.99,  6.2 ,  5.97, 12.61])

In [ ]:
from sklearn.metrics import r2_score
r2sq = r2_score(y_test,y_pred)  
r2sq

0.31075579487513416