In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('carseats.csv')
df['Sales']= pd.cut(x=df['Sales'], bins=[0, 3, 10.5,16.3],
                     labels=['low', 'medium', 'high'])
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,medium,138,73,11,276,120,Bad,42,17,Yes,Yes
1,high,111,48,16,260,83,Good,65,10,Yes,Yes
2,medium,113,35,10,269,80,Medium,59,12,Yes,Yes
3,medium,117,100,4,466,97,Medium,55,14,Yes,Yes
4,medium,141,64,3,340,128,Bad,38,13,Yes,No

In [ ]:
x=df.iloc[:,1:]
y=df.iloc[:,:1]
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,Yes,Yes
1,111,48,16,260,83,Good,65,10,Yes,Yes
2,113,35,10,269,80,Medium,59,12,Yes,Yes
3,117,100,4,466,97,Medium,55,14,Yes,Yes
4,141,64,3,340,128,Bad,38,13,Yes,No

In [ ]:
x=df.iloc[:,1:]
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,Yes,Yes
1,111,48,16,260,83,Good,65,10,Yes,Yes
2,113,35,10,269,80,Medium,59,12,Yes,Yes
3,117,100,4,466,97,Medium,55,14,Yes,Yes
4,141,64,3,340,128,Bad,38,13,Yes,No

In [ ]:
x.head(),y.head()

(   CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
 0        138      73           11         276    120       Bad   42
 1        111      48           16         260     83      Good   65
 2        113      35           10         269     80    Medium   59
 3        117     100            4         466     97    Medium   55
 4        141      64            3         340    128       Bad   38

    Education Urban   US
 0         17   Yes  Yes
 1         10   Yes  Yes
 2         12   Yes  Yes
 3         14   Yes  Yes
 4         13   Yes   No  ,     Sales
 0  medium
 1    high
 2  medium
 3  medium
 4  medium)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['US'] = le.fit_transform(x['US'])
x['Urban'] = le.fit_transform(x['Urban'])
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,1,1
1,111,48,16,260,83,Good,65,10,1,1
2,113,35,10,269,80,Medium,59,12,1,1
3,117,100,4,466,97,Medium,55,14,1,1
4,141,64,3,340,128,Bad,38,13,1,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
en_x = pd.DataFrame(ohe.fit_transform(x[['ShelveLoc']]).toarray())
x = x.join(en_x)
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,0,1,2
0,138,73,11,276,120,Bad,42,17,1,1,1.0,0.0,0.0
1,111,48,16,260,83,Good,65,10,1,1,0.0,1.0,0.0
2,113,35,10,269,80,Medium,59,12,1,1,0.0,0.0,1.0
3,117,100,4,466,97,Medium,55,14,1,1,0.0,0.0,1.0
4,141,64,3,340,128,Bad,38,13,1,0,1.0,0.0,0.0

In [ ]:
d = x.drop('ShelveLoc',axis=1,inplace=True)

In [ ]:
#del df['Age']
#x.drop([2],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
ss = StandardScaler()
x_train.iloc[:,0:6]= ss.fit_transform(x_train.iloc[:,0:6])
x_test.iloc[:,0:6] = ss.fit_transform(x_test.iloc[:,0:6])
#x_train= ss.fit_transform(x_train)
#x_test = ss.fit_transform(x_test)

In [ ]:
x_train.drop([174],axis=0,inplace=True)
y_train.drop([174],axis=0,inplace=True)

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics

In [ ]:
x_train.dtypes

CompPrice      float64
Income         float64
Advertising    float64
Population     float64
Price          float64
Age            float64
Education        int64
Urban            int64
US               int64
0              float64
1              float64
2              float64
dtype: object

In [ ]:
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)
ac

0.85